@layer vuetify-overrides;

body,
.v-application {
  color: rgb(var(--v-theme-text));
}
/*
  Глобальный фикс бага автозаполнения Chrome для Vuetify 3.
  Проблема: Chrome визуально вставляет сохраненные данные, не обновляя значение JS-переменной (из соображений безопасности).
  В результате Vuetify думает, что поле пустое, и лейбл остается внизу, налезая на текст автозаполнения.
  Решение: Используем CSS :has() для отлова состояния :-webkit-autofill.
  Скрываем неактивный основной лейбл и принудительно показываем верхний (floating), чтобы он сразу оказался наверху.
*/
.v-field:not(.v-field--active):has(input:-webkit-autofill) {
  .v-field-label:not(.v-field-label--floating) {
    opacity: 0 !important;
    visibility: hidden !important;
  }
  .v-field-label--floating {
    visibility: visible !important;
    opacity: 1 !important;
  }
}

/* Scrollbar */
:root {
  --scrollbar-thumb: #dde2ea;
  --scrollbar-thumb-hover: #8b8b98;
  --scrollbar-track: transparent;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-hover);
  cursor: pointer;
}
