// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

@font-face {
  font-family: 'Material Symbols Rounded';
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/material-symbols-rounded.woff2) format('woff2');
}

.material-symbols-rounded {
  font-family: 'Material Symbols Rounded';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

/* arabic */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/Rubik/Rubik.woff2) format('woff2');
  unicode-range:
    U+0600-06FF, U+0750-077F, U+0870-088E, U+0890-0891, U+0897-08E1,
    U+08E3-08FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF,
    U+FE70-FE74, U+FE76-FEFC, U+102E0-102FB, U+10E60-10E7E, U+10EC2-10EC4,
    U+10EFC-10EFF, U+1EE00-1EE03, U+1EE05-1EE1F, U+1EE21-1EE22, U+1EE24,
    U+1EE27, U+1EE29-1EE32, U+1EE34-1EE37, U+1EE39, U+1EE3B, U+1EE42, U+1EE47,
    U+1EE49, U+1EE4B, U+1EE4D-1EE4F, U+1EE51-1EE52, U+1EE54, U+1EE57, U+1EE59,
    U+1EE5B, U+1EE5D, U+1EE5F, U+1EE61-1EE62, U+1EE64, U+1EE67-1EE6A,
    U+1EE6C-1EE72, U+1EE74-1EE77, U+1EE79-1EE7C, U+1EE7E, U+1EE80-1EE89,
    U+1EE8B-1EE9B, U+1EEA1-1EEA3, U+1EEA5-1EEA9, U+1EEAB-1EEBB, U+1EEF0-1EEF1;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/Rubik/Rubik2.woff2) format('woff2');
  unicode-range:
    U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/Rubik/Rubik3.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* hebrew */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/Rubik/Rubik4.woff2) format('woff2');
  unicode-range:
    U+0307-0308, U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* latin-ext */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/Rubik/Rubik5.woff2) format('woff2');
  unicode-range:
    U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304,
    U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/Rubik/Rubik6.woff2) format('woff2');
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212,
    U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Noto Color Emoji';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts//NotoColorEmoji/Noto_Color_Emoji.woff2) format('woff2');
  unicode-range: U+1f1e6-1f1ff;
}
@font-face {
  font-family: 'Noto Color Emoji';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts//NotoColorEmoji/Noto_Color_Emoji2.woff2) format('woff2');
  unicode-range:
    U+200d, U+2620, U+26a7, U+fe0f, U+1f308, U+1f38c, U+1f3c1, U+1f3f3-1f3f4,
    U+1f6a9, U+e0062-e0063, U+e0065, U+e0067, U+e006c, U+e006e, U+e0073-e0074,
    U+e0077, U+e007f;
}
@font-face {
  font-family: 'Noto Color Emoji';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts//NotoColorEmoji/Noto_Color_Emoji3.woff2) format('woff2');
  unicode-range:
    U+23, U+2a, U+30-39, U+a9, U+ae, U+200d, U+203c, U+2049, U+20e3, U+2122,
    U+2139, U+2194-2199, U+21a9-21aa, U+23cf, U+23e9-23ef, U+23f8-23fa, U+24c2,
    U+25aa-25ab, U+25b6, U+25c0, U+25fb-25fe, U+2611, U+2622-2623, U+2626,
    U+262a, U+262e-262f, U+2638, U+2640, U+2642, U+2648-2653, U+2660, U+2663,
    U+2665-2666, U+2668, U+267b, U+267e-267f, U+2695, U+269b-269c, U+26a0,
    U+26a7, U+26aa-26ab, U+26ce, U+26d4, U+2705, U+2714, U+2716, U+271d, U+2721,
    U+2733-2734, U+2747, U+274c, U+274e, U+2753-2755, U+2757, U+2764,
    U+2795-2797, U+27a1, U+27b0, U+27bf, U+2934-2935, U+2b05-2b07, U+2b1b-2b1c,
    U+2b55, U+3030, U+303d, U+3297, U+3299, U+fe0f, U+1f170-1f171,
    U+1f17e-1f17f, U+1f18e, U+1f191-1f19a, U+1f201-1f202, U+1f21a, U+1f22f,
    U+1f232-1f23a, U+1f250-1f251, U+1f310, U+1f3a6, U+1f3b5-1f3b6, U+1f3bc,
    U+1f3e7, U+1f441, U+1f499-1f49c, U+1f49f-1f4a0, U+1f4a2, U+1f4ac-1f4ad,
    U+1f4b1-1f4b2, U+1f4b9, U+1f4db, U+1f4f2-1f4f6, U+1f500-1f50a, U+1f515,
    U+1f518-1f524, U+1f52f-1f53d, U+1f549, U+1f54e, U+1f5a4, U+1f5e8, U+1f5ef,
    U+1f6ab, U+1f6ad-1f6b1, U+1f6b3, U+1f6b7-1f6bc, U+1f6be, U+1f6c2-1f6c5,
    U+1f6d0-1f6d1, U+1f6d7, U+1f6dc, U+1f7e0-1f7eb, U+1f7f0, U+1f90d-1f90e,
    U+1f9e1, U+1fa75-1fa77, U+1faaf;
}
@font-face {
  font-family: 'Noto Color Emoji';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts//NotoColorEmoji/Noto_Color_Emoji4.woff2) format('woff2');
  unicode-range:
    U+231a-231b, U+2328, U+23f0-23f3, U+2602, U+260e, U+2692, U+2694,
    U+2696-2697, U+2699, U+26b0-26b1, U+26cf, U+26d1, U+26d3, U+2702, U+2709,
    U+270f, U+2712, U+fe0f, U+1f302, U+1f321, U+1f392-1f393, U+1f3a9, U+1f3bd,
    U+1f3ee, U+1f3f7, U+1f3fa, U+1f451-1f462, U+1f484, U+1f489-1f48a,
    U+1f48c-1f48e, U+1f4a1, U+1f4a3, U+1f4b0, U+1f4b3-1f4b8, U+1f4bb-1f4da,
    U+1f4dc-1f4f1, U+1f4ff, U+1f50b-1f514, U+1f516-1f517, U+1f526-1f529,
    U+1f52c-1f52e, U+1f550-1f567, U+1f56f-1f570, U+1f576, U+1f587,
    U+1f58a-1f58d, U+1f5a5, U+1f5a8, U+1f5b1-1f5b2, U+1f5c2-1f5c4,
    U+1f5d1-1f5d3, U+1f5dc-1f5de, U+1f5e1, U+1f5f3, U+1f6aa, U+1f6ac, U+1f6bd,
    U+1f6bf, U+1f6c1, U+1f6cb, U+1f6cd-1f6cf, U+1f6d2, U+1f6e0-1f6e1, U+1f6f0,
    U+1f97b-1f97f, U+1f9af, U+1f9ba, U+1f9e2-1f9e6, U+1f9ea-1f9ec,
    U+1f9ee-1f9f4, U+1f9f7-1f9ff, U+1fa71-1fa74, U+1fa79-1fa7b, U+1fa86,
    U+1fa91-1fa93, U+1fa96, U+1fa99-1faa0, U+1faa2-1faa7, U+1faaa-1faae;
}
@font-face {
  font-family: 'Noto Color Emoji';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts//NotoColorEmoji/Noto_Color_Emoji5.woff2) format('woff2');
  unicode-range:
    U+265f, U+26bd-26be, U+26f3, U+26f8, U+fe0f, U+1f004, U+1f0cf,
    U+1f380-1f384, U+1f386-1f38b, U+1f38d-1f391, U+1f396-1f397, U+1f399-1f39b,
    U+1f39e-1f39f, U+1f3a3-1f3a5, U+1f3a7-1f3a9, U+1f3ab-1f3b4, U+1f3b7-1f3bb,
    U+1f3bd-1f3c0, U+1f3c5-1f3c6, U+1f3c8-1f3c9, U+1f3cf-1f3d3, U+1f3f8-1f3f9,
    U+1f47e, U+1f4e2, U+1f4f7-1f4fd, U+1f52b, U+1f579, U+1f58c-1f58d, U+1f5bc,
    U+1f6f7, U+1f6f9, U+1f6fc, U+1f93f, U+1f941, U+1f945, U+1f947-1f94f,
    U+1f9e7-1f9e9, U+1f9f5-1f9f6, U+1fa70-1fa71, U+1fa80-1fa81, U+1fa83-1fa85,
    U+1fa87-1fa88, U+1fa94-1fa95, U+1fa97-1fa98, U+1faa1, U+1faa9;
}
@font-face {
  font-family: 'Noto Color Emoji';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts//NotoColorEmoji/Noto_Color_Emoji6.woff2) format('woff2');
  unicode-range:
    U+2693, U+26e9-26ea, U+26f1-26f2, U+26f4-26f5, U+26fa, U+26fd, U+2708,
    U+fe0f, U+1f301, U+1f303, U+1f306-1f307, U+1f309, U+1f310, U+1f3a0-1f3a2,
    U+1f3aa, U+1f3cd-1f3ce, U+1f3d5, U+1f3d7-1f3db, U+1f3df-1f3e6,
    U+1f3e8-1f3ed, U+1f3ef-1f3f0, U+1f488, U+1f492, U+1f4ba, U+1f54b-1f54d,
    U+1f5fa-1f5ff, U+1f680-1f6a2, U+1f6a4-1f6a8, U+1f6b2, U+1f6d1,
    U+1f6d5-1f6d6, U+1f6dd-1f6df, U+1f6e2-1f6e5, U+1f6e9, U+1f6eb-1f6ec,
    U+1f6f3-1f6f6, U+1f6f8, U+1f6fa-1f6fb, U+1f9bc-1f9bd, U+1f9ed, U+1f9f3,
    U+1fa7c;
}
@font-face {
  font-family: 'Noto Color Emoji';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts//NotoColorEmoji/Noto_Color_Emoji7.woff2) format('woff2');
  unicode-range:
    U+2615, U+fe0f, U+1f32d-1f330, U+1f336, U+1f33d, U+1f345-1f37f, U+1f382,
    U+1f52a, U+1f942-1f944, U+1f950-1f96f, U+1f99e, U+1f9aa, U+1f9c0-1f9cb,
    U+1fad0-1fadb;
}
@font-face {
  font-family: 'Noto Color Emoji';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts//NotoColorEmoji/Noto_Color_Emoji8.woff2) format('woff2');
  unicode-range:
    U+200d, U+2600-2601, U+2603-2604, U+2614, U+2618, U+26a1, U+26c4-26c5,
    U+26c8, U+26f0, U+2728, U+2744, U+2b1b, U+2b50, U+fe0f, U+1f300,
    U+1f304-1f305, U+1f308, U+1f30a-1f30f, U+1f311-1f321, U+1f324-1f32c,
    U+1f331-1f335, U+1f337-1f33c, U+1f33e-1f344, U+1f3d4, U+1f3d6,
    U+1f3dc-1f3de, U+1f3f5, U+1f400-1f43f, U+1f490, U+1f4a7, U+1f4ab, U+1f4ae,
    U+1f525, U+1f54a, U+1f573, U+1f577-1f578, U+1f648-1f64a, U+1f940,
    U+1f980-1f9ae, U+1f9ba, U+1fa90, U+1faa8, U+1fab0-1fabd, U+1fabf,
    U+1face-1facf, U+1fae7;
}
@font-face {
  font-family: 'Noto Color Emoji';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts//NotoColorEmoji/Noto_Color_Emoji9.woff2) format('woff2');
  unicode-range:
    U+200d, U+2640, U+2642, U+2695-2696, U+26f7, U+26f9, U+2708, U+2764, U+fe0f,
    U+1f33e, U+1f373, U+1f37c, U+1f384-1f385, U+1f393, U+1f3a4, U+1f3a8,
    U+1f3c2-1f3c4, U+1f3c7, U+1f3ca-1f3cc, U+1f3eb, U+1f3ed, U+1f3fb-1f3ff,
    U+1f466-1f478, U+1f47c, U+1f481-1f483, U+1f486-1f487, U+1f48b, U+1f48f,
    U+1f491, U+1f4bb-1f4bc, U+1f527, U+1f52c, U+1f574-1f575, U+1f57a,
    U+1f645-1f647, U+1f64b, U+1f64d-1f64e, U+1f680, U+1f692, U+1f6a3,
    U+1f6b4-1f6b6, U+1f6c0, U+1f6cc, U+1f91d, U+1f926, U+1f930-1f931,
    U+1f934-1f93a, U+1f93c-1f93e, U+1f977, U+1f9af-1f9b3, U+1f9b8-1f9b9,
    U+1f9bc-1f9bd, U+1f9cc-1f9cf, U+1f9d1-1f9df, U+1fa82, U+1fac3-1fac5;
}
@font-face {
  font-family: 'Noto Color Emoji';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts//NotoColorEmoji/Noto_Color_Emoji10.woff2) format('woff2');
  unicode-range:
    U+200d, U+261d, U+2620, U+2639-263a, U+2665, U+270a-270d, U+2728,
    U+2763-2764, U+2b50, U+fe0f, U+1f31a-1f31f, U+1f32b, U+1f383, U+1f389,
    U+1f3fb-1f3ff, U+1f440-1f450, U+1f463-1f465, U+1f479-1f47b, U+1f47d-1f480,
    U+1f485, U+1f48b-1f48c, U+1f493-1f49f, U+1f4a4-1f4a6, U+1f4a8-1f4ab,
    U+1f4af, U+1f525, U+1f573, U+1f590, U+1f595-1f596, U+1f5a4, U+1f5e3,
    U+1f600-1f644, U+1f648-1f64a, U+1f64c, U+1f64f, U+1f90c-1f925,
    U+1f927-1f92f, U+1f932-1f933, U+1f970-1f976, U+1f978-1f97a, U+1f9a0,
    U+1f9b4-1f9b7, U+1f9bb, U+1f9be-1f9bf, U+1f9d0, U+1f9e0-1f9e1,
    U+1fa75-1fa79, U+1fac0-1fac2, U+1fae0-1fae6, U+1fae8, U+1faf0-1faf8;
}
@font-face {
  font-family: 'Noto Color Emoji';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts//NotoColorEmoji/Noto_Color_Emoji11.woff2) format('woff2');
  unicode-range:
    U+200d, U+2194-2195, U+2640, U+2642, U+26d3, U+27a1, U+fe0f, U+1f344,
    U+1f34b, U+1f3c3, U+1f3fb-1f3ff, U+1f426, U+1f468-1f469, U+1f4a5, U+1f525,
    U+1f642, U+1f6b6, U+1f7e9, U+1f7eb, U+1f9af, U+1f9bc-1f9bd, U+1f9ce,
    U+1f9d1-1f9d2;
}
@font-face {
  font-family: 'Noto Color Emoji';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts//NotoColorEmoji/Noto_Color_Emoji12.woff2) format('woff2');
  unicode-range: U+1fa89, U+1fa8f, U+1fabe, U+1fac6, U+1fadc, U+1fadf, U+1fae9;
}
@font-face {
  font-family: 'Noto Color Emoji';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts//NotoColorEmoji/Noto_Color_Emoji13.woff2) format('woff2');
  unicode-range: U+1f6d8, U+1fa8a, U+1fa8e, U+1fac8, U+1facd, U+1faea, U+1faef;
}
body {
  --google-font-color-notocoloremoji: colrv1;
}

// @font-face {
//   font-family: OpenSans;
//   src: url(./fonts/OpenSans-Regular.woff);
// }

// src/css/quasar.variables.sass
:root {
  --primary-light: #ccdbff;
  --primary: #3f75ff;

  .body--dark {
    --primary: #5685fb;
    --bg-color: #1f2228;
    --autofill-color: #474a52;
    --text-color: #bac4d5;
    --sub-text-color: #8b8b98;

    --border-color: #8b8b98;
    --dark-border-color: #31363f;
    --darkest-border-color: #24272e;

    --active-tab-color: #31363f;

    --shadow-tab-color-1: #0607141f;
    --shadow-tab-color-2: #06071424;
    --shadow-tab-color-3: #06071433;
    --shadow-tab-color-4: #0a0d2433;

    --hover-color: #30343d;
    --active-color: #414652;
    --scroll-color: #bac4d5;

    --heatmap-level-0: #2e2e31;
    --heatmap-level-1: #242758;
    --heatmap-level-2: #39488e;
    --heatmap-level-3: #6c7cba;
    --heatmap-level-4: #d9dbe8;

    --spoiler-hover-color: rgba(255, 255, 255, 0.1);
    --date-bacground-color: rgba(255, 255, 255, 0.2);

    --tiptap-border-color: #8b8b98;
    --tiptap-th-bg-color: #31363f;
    --tiptap-codeblock-bg-color: #333842;

    --bg-activities-pattern: url('../assets/patterns/dark_pattern.svg');

    --progress-bg-base: #31363f;
    --progress-bg-primary: #052c48;
    --progress-bg-error: #47000b;
    --progress-bg-success: #17351a;

    --hover-color-picker: #3a486e;
    --border-color-picker: #31363f;

    --attachment-hover-color: rgba(0, 0, 0, 0.6);
    --buttons-attachments-bg: #474a52;
    --buttons-attachments-icons-color: #474a52;

    --tab-color-picker-disable: #474a52;
    --tab-color-picker-header--inactive: #474a52;
    --tab-color-picker-header--inactive-text: #fff;
  }

  .body--light {
    --primary: #3f75ff;

    --bg-color: #fff;
    --text-color: #474a52;
    --sub-text-color: #8b8b98;
    --autofill-color: #e4ebf5;

    --border-color: #dde2ea;
    --dark-border-color: #dde2ea;
    --darkest-border-color: #dde2ea;

    --active-tab-color: #dde2ea;

    --shadow-tab-color-1: #aab6ca1f;
    --shadow-tab-color-2: #aab6ca24;
    --shadow-tab-color-3: #aab6ca33;
    --shadow-tab-color-4: #aab6ca33;

    --hover-color: #e6e6e6;
    --active-color: #d3d3d3;
    --scroll-color: #dde2ea;

    --heatmap-level-0: #ececef;
    --heatmap-level-1: #d2dcff;
    --heatmap-level-2: #7992f5;
    --heatmap-level-3: #3f51ae;
    --heatmap-level-4: #2a2b59;

    --attachment-hover-color: var(--primary);
    --spoiler-hover-color: rgba(0, 0, 0, 0.2);
    --date-bacground-color: rgba(0, 0, 0, 0.2);

    --tiptap-th-bg-color: #e4ebf5;
    --tiptap-border-color: #ccc;
    --tiptap-codeblock-bg-color: #efeff6;

    --bg-activities-pattern: url('../assets/patterns/light_pattern.svg');

    --progress-bg-base: #dde2ea;
    --progress-bg-primary: #e1f5fe;
    --progress-bg-error: #fce4ec;
    --progress-bg-success: #e8f5e9;

    --hover-color-picker: #f0f4ff;
    --border-color-picker: #dde2ea;

    --buttons-attachments-bg: rgb(255, 255, 255);
    --buttons-attachments-icons-color: #474a52;

    --tab-color-picker-disable: #dde2ea;
    --tab-color-picker-header--inactive: #dde2ea;
    --tab-color-picker-header--inactive-text: #474a52;
  }
}

$primary: var(--primary);
$primary-light: var(--primary-light);

$bg-color: var(--bg-color);
$text-color: var(--text-color);
$sub-text-color: var(--sub-text-color);
$border-color: var(--border-color);
$dark-border-color: var(--dark-border-color);
$darkest-border-color: var(--darkest-border-color);
$active-tab-color: var(--active-tab-color);

$autofill-color: var(--autofill-color);

$shadow-tab-color-1: var(--shadow-tab-color-1);
$shadow-tab-color-2: var(--shadow-tab-color-2);
$shadow-tab-color-3: var(--shadow-tab-color-3);
$shadow-tab-color-4: var(--shadow-tab-color-4);

$hover-color: var(--hover-color);
$active-color: var(--active-color);
$scroll-color: var(--scroll-color);

$heatmap-level-0: var(--heatmap-level-0);
$heatmap-level-1: var(--heatmap-level-1);
$heatmap-level-2: var(--heatmap-level-2);
$heatmap-level-3: var(--heatmap-level-3);
$heatmap-level-4: var(--heatmap-level-4);

$attachment-hover-color: var(--attachment-hover-color);
$buttons-attachments-bg: var(--buttons-attachments-bg);

$tiptap-border-color: var(--tiptap-border-color);
$tiptap-th-bg-color: var(--tiptap-th-bg-color);
$tiptap-codeblock-bg-color: var(--tiptap-codeblock-bg-color);

$dark-primary: #5685fb;
$secondary: #1d8c81;
$accent: #9c27b0;

$dark: #474a52;
$dark-page: #121212;
$night: #1f2228;

$positive: #21ba45;
$negative: #dc3e3e;
$negative-light: rgba(239, 68, 68, 0.1);
$info: #3f75ff;
$warning: #f2c037;
$warning-lignt: #f2c03715;
$orange: #ff9800;

$base: #ffffff;
$bg-surface: #ffffff;
$bg-surface-2: rgb(240, 244, 250);
$bg-light: rgb(240, 244, 255);

$color-border: rgb(221, 226, 234);
$color-border-2: rgb(221, 226, 234);
$color-accent: rgb(63, 118, 255);
$color_accent_light: rgba(63, 118, 255, 0.07);
$color-bg-accent-light: rgba(241, 244, 249, 0.5);
$color-shadow: rgba(170, 182, 202, 0.12);

$text-secondary-color: rgb(71, 74, 82);
$typography-font-family: Rubik, sans-serif !default;

$tiptap-color-picker-light-bg: (
  'red': #fce4ec,
  'blue': #e1f5fe,
  'cyan': #dcf7f9,
  'green': #e8f5e9,
  'orange': #ffe4cc,
  'yellow': #fff1e1,
  'pink': #fedcf2,
);

$tiptap-color-picker-dark-bg: (
  'red': #47000b,
  'blue': #052c48,
  'cyan': #0c4246,
  'green': #17351a,
  'orange': #522c00,
  'yellow': #524400,
  'pink': #530436,
);

$base-font-size: 16px;
$small-font-size: 14px;

$radius: 8px;
$extra-light: #dde2ea;
$base-height: 40px;
$small-height: 32px;

$light-primary-border-color: #6692ff;
$light-red: #ff5c5c;
$dark-gray: #8b8b98;
$gray: #bac4d5;

$bg-activities-pattern: var(--bg-activities-pattern);

$progress-bg-base: var(--progress-bg-base);
$progress-bg-primary: var(--progress-bg-primary);
$progress-bg-error: var(--progress-bg-error);
$progress-bg-success: var(--progress-bg-success);

$progress-positive: #05bd8d;
$progress-in-work: #3f76ff;
