@layer properties, theme, base, components, vuetify-components, vuetify-overrides, vuetify-final, vuetify-utilities, utilities;
@import 'tailwindcss';
/* @import './css/layers.scss'; */

:root {
  --text-general: #474a52;
  --text-secondary: #8b8b98;
  --primary-light: #ccdbff;
}

.dark {
  --text-general: #bac4d5;
}

body,
.app,
.v-application__wrap {
  color: var(--text-general);
}

@theme {
  --color-general: var(--text-general);
  --color-secondary: var(--text-secondary);
  --color-primary-light: var(--primary-light);
}
